.cell-placeholder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4ca64c;
    border-radius: 6px;
    border-color: #4ca64c;
    border-style: dashed;
    font-size: 0.7rem;
    pointer-events: none;
}
