.cell-placeholder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
    border-radius: 6px;
    border-color: var(--green);
    border-style: dashed;
    font-size: 0.7rem;
    pointer-events: none;
}
