.component-details h3 {
  margin-top: 0;
}

.component-history {
  margin-top: 1rem;
}

.component-history select {
  margin-top: 0.5rem;
}

.details-tabs {
  width: 100%;
}

.details-tabs .tab-headers {
  display: flex;
}

.details-tabs .tab-headers button {
  flex: 1;
  padding: 0.25rem;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.details-tabs .tab-headers button.active {
  background: #555;
}

.tab-headers button:disabled {
  background: #777;
  cursor: not-allowed;
}

.details-tabs .tab-content {
  padding: 0.5rem;
}
/* Form styling */
.component-details form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.component-details label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: var(--label-dark);
  text-align: left;
  gap: 0.2rem;
}
.footer .component-details label {
    color: var(--label-light);
}
.footer .component-details label input {
    color: var(--label-dark);
}


.component-details input,
.component-details select {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--label-dark);
  border-radius: 4px;
  background-color: var(--white);
  color: inherit;
}

.component-details input[type='range'] {
  padding: 0;
}

.component-details input:disabled,
.component-details select:disabled {
  background-color: var(--disabled);
  color: var(--label-light)!important;
}

.priority-list ul {
  list-style: none;
  padding: 0;
  margin: 0.25rem 0;
}

.priority-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.priority-list button {
  margin-left: 0.25rem;
}

.priority-buttons {
  white-space: nowrap;
}
