.connection-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: red;
}

.connection-indicator.ok {
  background: green;
}
