/* Styles for ControllerStatus component */

.balance-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'load load'
    'generated generated'
    'batteries batteries_cost'
    'grid grid_cost'
    'energy_balance money_balance';
  gap: 0.5rem;
}

.load-value { grid-area: load; text-align: center; }
.generated-value { grid-area: generated; text-align: center; }
.batteries-value { grid-area: batteries; text-align: center; }
.batteries-cost-value { grid-area: batteries_cost; text-align: center; }
.grid-value { grid-area: grid; text-align: center; }
.grid-cost-value { grid-area: grid_cost; text-align: center; }
.energy-value { grid-area: energy_balance; text-align: center; }
.money-value { grid-area: money_balance; text-align: center; }
