.energy-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
}

.energy-balance svg {
  width: 100%;
  height: 150px;
}

.energy-balance .totals {
  display: flex;
  gap: 1rem;
}
