.footer-tabs {
  width: 100%;
}
.tab-headers {
  display: flex;
}
.tab-headers button {
  flex: 1;
  padding: 0.25rem;
  background: #333;
  color: var(--white);
  border: none;
  cursor: pointer;
}
.tab-headers button.active {
  background: #555;
}
.tab-content {
  padding: 0.5rem;
}
