.grid-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'energy money'
    'net net'
    'price price'
    'reward reward';
  gap: 0.5rem;
}

.energy-value {
  grid-area: energy;
  text-align: center;
}

.money-value {
  grid-area: money;
  text-align: center;
}

.net-graph {
  grid-area: net;
}

.price-graph {
  grid-area: price;
}

.reward-graph {
  grid-area: reward;
}

.energy-value .value,
.money-value .value {
    font-size: 1.1rem;
}

.price-legend {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--label-dark);
}

.legend-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.25rem;
}