.manual-controls {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--white);
  margin-top: 0.25rem;
}
.manual-controls label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.manual-controls input[type='range'] {
  width: 150px;
}
