.microgrid-status {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  color: var(--label-light);
}

.microgrid-status h3 {
    margin: 0;
}

.microgrid-status .value {
    font-size: 1.2rem;
}

.actual-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'generated grid'
    'batteries loads';
  gap: 0.5rem;
}

.generated-value { grid-area: generated; text-align: center; }
.grid-value { grid-area: grid; text-align: center; }
.batteries-value { grid-area: batteries; text-align: center; }
.loads-value { grid-area: loads; text-align: center; }

.totals-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'exported load_unmet'
    'imported renewable_unused'
    'balance reward';
  gap: 0.5rem;
}

.exported-value { grid-area: exported; text-align: center; }
.imported-value { grid-area: imported; text-align: center; }
.balance-value { grid-area: balance; text-align: center; }
.load-unmet-value { grid-area: load_unmet; text-align: center; }
.renewable-unused-value { grid-area: renewable_unused; text-align: center; }
.reward-value { grid-area: reward; text-align: center; }

.graphs-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'cover' 'reward';
  gap: 0.5rem;
}

.cover-graph { grid-area: cover; }
.reward-graph { grid-area: reward; }

.cover-legend {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--label-dark);
}

.legend-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.25rem;
}
