/* Shared styles for all component status tabs */

.component-status {
    color: var(--label-dark);
}

.component-status .component-history {
    margin-top: 1rem;
}

.component-status .component-history select {
    margin-top: 0.5rem;
}

.value {
    font-size: 1.2rem;
    font-weight: 800;
}

.label {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}