/* Layout for the main sections */
.app-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'sidebar main details footer';
  grid-template-columns: 100px 1fr 300px 300px;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: var(--background-dark);
  color: var(--white);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tool-sidebar {
  grid-area: sidebar;
  padding: 1rem;
  background: var(--background-light);
}

.drawing-area {
  grid-area: main;
  position: relative;
}

.dropped-icon {
  margin: 0.25rem;
  font-size: 2rem;
}

.details-panel {
  grid-area: details;
  padding: 1rem;
  background: var(--background-light);
  overflow: auto;
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 1rem;
  background-color: var(--background-dark);
  color: var(--white);
  height: 100%;
  overflow: auto;
}
