:root {
    --blue: #365da0;
    --green: #74971a;
    --red: #ec3137;
    --white: #ffffff;
    --label-dark: #616365;
    --label-light: #ebebeb;
    --disabled: #616365;
    --background-dark: #282c34;
    --background-light: #fafafa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
